#plantes{
    margin-top : 1vh;
    display :flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: baseline;
}

.listPlantes{
    flex-grow : 1;
}
.descPlantes{
    flex-grow : 4;
}

.bio{
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-around;
}
.bio .card{
    min-width:20vw;
}
