h1{
    margin: auto;
    text-align:center;
    font-family: cursive;
    font-weight:bold;
}
select{
    min-width:10vw;
}

form label{
    margin-right: 1vw;
}

.required:after{
    content: "*";
    color: red;
}