{% extends 'base.html.twig' %}

{% block title %}Plante index{% endblock %}

{% block body %}
    <h1>Plante index</h1>
    <div class="container">
        <table class="table">
            {% for plante in plantes %}
                <tr>
                    <td><a class="btn" href="{{ path('plante_show', {'id': plante.id}) }}"><u>{{ plante.nom }}</u></a></td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('plante_edit', {'id': plante.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </table>

        <a class="btn btn-primary" href="{{ path('plante_new') }}">Ajouter une plante</a>
    </div>
{% endblock %}
