{% extends 'base.html.twig' %}

{% block title %}New Ravageur{% endblock %}

{% block body %}
    <h1>Create new Ravageur</h1>

    {{ include('ravageur/_form.html.twig') }}

    <a href="{{ path('ravageur_index') }}">back to list</a>
{% endblock %}
