{% extends 'base.html.twig' %}

{% block title %}New Organe{% endblock %}

{% block body %}
    <h1>Create new Organe</h1>

    {{ include('organe/_form.html.twig') }}

    <a href="{{ path('organe_index') }}">back to list</a>
{% endblock %}
