{% extends 'base.html.twig' %}

{% block title %}New Bioagresseur{% endblock %}

{% block body %}
    <h1>Create new Bioagresseur</h1>

    {{ include('bioagresseur/_form.html.twig') }}

    <a href="{{ path('bioagresseur_index') }}">back to list</a>
{% endblock %}
