{% extends 'base.html.twig' %}

{% block title %}Nouvelle maladie{% endblock %}

{% block body %}
    <h1>Créer une maladie</h1>

    {{ include('bioagresseur/_form.html.twig') }}

    <a href="{{ path('bioagresseur_index') }}">Retour à la liste</a>
{% endblock %}
